.fratto2,
.fratto3 {
  letter-spacing: 4px;
  align-items: center;
  flex-shrink: 0;
}
.fratto2 {
  width: 182px;
  position: relative;
  display: none;
  color: var(--color-gray-100);
  height: 64px;
  opacity: 0.88;
}
.fratto3 {
  width: 94px;
  font-size: var(--font-size-5xl);
  height: 13.4px;
}
.fratto3,
.site1,
.wrapper-child {
  position: relative;
  display: none;
}
.site1 {
  width: 24px;
  font-size: var(--font-size-smi);
  letter-spacing: 1px;
  font-family: var(--font-marion);
  align-items: center;
  height: 5.9px;
  flex-shrink: 0;
}
.wrapper-child {
  width: 1440px;
  height: 840px;
  object-fit: cover;
}
.kaikun-me-1-icon1 {
  width: 40px;
  position: relative;
  border-radius: var(--br-9981xl);
  height: 40px;
  object-fit: cover;
}
.kaikun-me-1-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.works1 {
  position: relative;
}
.leftblock1,
.navbar-brand {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.leftblock1 {
  align-items: center;
  gap: 0 32px;
}
.navbar-brand {
  align-items: flex-start;
}
.contact1 {
  position: relative;
  line-height: 140%;
  font-weight: 500;
}
.button {
  background-color: var(--color-black);
  justify-content: center;
  padding: 8px 20px;
}
.button,
.navbar-content,
.navbar-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar-menu {
  overflow: hidden;
  justify-content: flex-start;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.navbar-content {
  flex: 1;
  justify-content: space-between;
}
.navbar-logo-left,
.navbarcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.navbarcontainer {
  flex: 1;
  align-items: center;
}
.navbar-logo-left {
  align-self: stretch;
  background-color: var(--color-white);
  overflow: hidden;
  align-items: flex-start;
  padding: var(--padding-xs) var(--padding-5xl);
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-helvetica);
}
.a-service-and1 {
  margin: 0;
}
.div,
.h1-a-service-and-container {
  align-self: stretch;
  position: relative;
}
.h1-a-service-and-container {
  line-height: 120%;
}
.div {
  font-size: var(--font-size-sm);
  letter-spacing: 2px;
  font-family: var(--font-helvetica);
  color: var(--color-gray-200);
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 24px 0;
}
.content,
.title-section {
  align-self: stretch;
}
.hero-stack,
.small-container,
.title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.small-container {
  width: 960px;
}
.hero-stack {
  align-self: stretch;
  background-color: var(--color-white);
  overflow: hidden;
  padding: 64px var(--padding-5xl);
  text-align: center;
}
.image-49-icon {
  width: 628px;
  position: relative;
  height: 378px;
  object-fit: cover;
}
.image-49-wrapper {
  align-self: stretch;
  border-radius: var(--br-lg);
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.b8,
.b9 {
  position: relative;
  letter-spacing: 1px;
}
.b9 {
  font-size: var(--font-size-xs);
  color: var(--color-gray-300);
}
.parent3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px 0;
}
.frame-parent2 {
  flex-direction: column;
  gap: 26px 0;
}
.columns2,
.frame-parent2,
.itemworks4 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.itemworks4 {
  flex: 1;
  flex-direction: column;
}
.columns2 {
  flex-direction: row;
  gap: 0 24px;
}
.grid-2-x-21 {
  gap: 47px 0;
}
.grid-2-x-21,
.section-wroks1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.p-5 {
  font-size: var(--font-size-xs);
  font-family: var(--font-hiragino-kaku-gothic-pro);
  color: var(--color-gray-400);
}
.h5-202213,
.p-5,
.p-6 {
  position: relative;
  letter-spacing: 1px;
}
.h5-202213 {
  width: 226px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.p-6 {
  align-self: stretch;
  color: var(--color-gray-500);
}
.h4-parent1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px 0;
  font-family: var(--font-hiragino-kaku-gothic-pro);
}
.listitem3 {
  align-self: stretch;
  border-bottom: 1px solid var(--color-whitesmoke-200);
  flex-direction: row;
  padding: 0 0 var(--padding-5xl);
  gap: 0 20px;
}
.listitem3,
.listitem4,
.listshistory1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.listitem4 {
  width: 1198px;
  border-bottom: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  flex-direction: row;
  padding: 0 0 var(--padding-5xl);
  gap: 0 20px;
}
.listshistory1 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: column;
  gap: 24px 0;
}
.wraplistsblock1 {
  font-size: var(--font-size-base);
}
.about-container,
.about3,
.wraplistsblock1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.about3 {
  gap: 88px 0;
}
.about-container {
  font-size: var(--font-size-29xl);
  color: var(--text-black);
}
.section-wroks-group {
  align-self: stretch;
  gap: 144px 0;
  font-size: var(--font-size-xl);
  font-family: var(--font-helvetica);
}
.section-wroks-group,
.yourname-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-wrapper2 {
  align-self: stretch;
  padding: var(--padding-5xl) 0;
  font-size: var(--font-size-3xs);
  color: var(--text-subtext);
  font-family: var(--font-hiragino-kaku-gothic-pro);
}
.frame-wrapper2,
.hero-stack-parent,
.wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.hero-stack-parent {
  width: 1248px;
  padding: 0 var(--padding-61xl);
  box-sizing: border-box;
  gap: 71px 0;
  font-size: 56px;
  color: var(--color-black);
  font-family: var(--font-inter);
}
.wrapper1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  overflow: hidden;
  gap: 9px 0;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-futura);
}
